
.tree-item.R_light:before {
  content : "\E001";
  color   : #498ba7
}

.tree-item.R:before {
  content : "\E001";
  color   : #519aba
}

.tree-item.argdown_light:before {
  content : "\E003";
  color   : #498ba7
}

.tree-item.argdown:before {
  content : "\E003";
  color   : #519aba
}

.tree-item.asm_light:before {
  content : "\E004";
  color   : #b8383d
}

.tree-item.asm:before {
  content : "\E004";
  color   : #cc3e44
}

.tree-item.audio_light:before {
  content : "\E005";
  color   : #9068b0
}

.tree-item.audio:before {
  content : "\E005";
  color   : #a074c4
}

.tree-item.babel_light:before {
  content : "\E006";
  color   : #b7b73b
}

.tree-item.babel:before {
  content : "\E006";
  color   : #cbcb41
}

.tree-item.bower_light:before {
  content : "\E007";
  color   : #cc6d2e
}

.tree-item.bower:before {
  content : "\E007";
  color   : #e37933
}

.tree-item.bsl_light:before {
  content : "\E008";
  color   : #b8383d
}

.tree-item.bsl:before {
  content : "\E008";
  color   : #cc3e44
}

.tree-item.c_light:before {
  content : "\E00A";
  color   : #498ba7
}

.tree-item.c:before {
  content : "\E00A";
  color   : #519aba
}

.tree-item.c-sharp_light:before {
  content : "\E009";
  color   : #498ba7
}

.tree-item.c-sharp:before {
  content : "\E009";
  color   : #519aba
}

.tree-item.c_1_light:before {
  content : "\E00A";
  color   : #9068b0
}

.tree-item.c_1:before {
  content : "\E00A";
  color   : #a074c4
}

.tree-item.c_2_light:before {
  content : "\E00A";
  color   : #b7b73b
}

.tree-item.c_2:before {
  content : "\E00A";
  color   : #cbcb41
}

.tree-item.cake_light:before {
  content : "\E00B";
  color   : #b8383d
}

.tree-item.cake:before {
  content : "\E00B";
  color   : #cc3e44
}

.tree-item.cake_php_light:before {
  content : "\E00C";
  color   : #b8383d
}

.tree-item.cake_php:before {
  content : "\E00C";
  color   : #cc3e44
}

.tree-item.clock_light:before {
  content : "\E010";
  color   : #498ba7
}

.tree-item.clock:before {
  content : "\E010";
  color   : #519aba
}

.tree-item.clock_1_light:before {
  content : "\E010";
  color   : #627379
}

.tree-item.clock_1:before {
  content : "\E010";
  color   : #6d8086
}

.tree-item.clojure_light:before {
  content : "\E011";
  color   : #7fae42
}

.tree-item.clojure:before {
  content : "\E011";
  color   : #8dc149
}

.tree-item.clojure_1_light:before {
  content : "\E011";
  color   : #498ba7
}

.tree-item.clojure_1:before {
  content : "\E011";
  color   : #519aba
}

.tree-item.code-climate_light:before {
  content : "\E012";
  color   : #7fae42
}

.tree-item.code-climate:before {
  content : "\E012";
  color   : #8dc149
}

.tree-item.coffee_light:before {
  content : "\E013";
  color   : #b7b73b
}

.tree-item.coffee:before {
  content : "\E013";
  color   : #cbcb41
}

.tree-item.coldfusion_light:before {
  content : "\E015";
  color   : #498ba7
}

.tree-item.coldfusion:before {
  content : "\E015";
  color   : #519aba
}

.tree-item.config_light:before {
  content : "\E016";
  color   : #627379
}

.tree-item.config:before {
  content : "\E016";
  color   : #6d8086
}

.tree-item.cpp_light:before {
  content : "\E017";
  color   : #498ba7
}

.tree-item.cpp:before {
  content : "\E017";
  color   : #519aba
}

.tree-item.cpp_1_light:before {
  content : "\E017";
  color   : #9068b0
}

.tree-item.cpp_1:before {
  content : "\E017";
  color   : #a074c4
}

.tree-item.crystal_light:before {
  content : "\E018";
  color   : #bfc2c1
}

.tree-item.crystal:before {
  content : "\E018";
  color   : #d4d7d6
}

.tree-item.crystal_embedded_light:before {
  content : "\E019";
  color   : #bfc2c1
}

.tree-item.crystal_embedded:before {
  content : "\E019";
  color   : #d4d7d6
}

.tree-item.css_light:before {
  content : "\E01A";
  color   : #498ba7
}

.tree-item.css:before {
  content : "\E01A";
  color   : #519aba
}

.tree-item.csv_light:before {
  content : "\E01B";
  color   : #7fae42
}

.tree-item.csv:before {
  content : "\E01B";
  color   : #8dc149
}

.tree-item.d_light:before {
  content : "\E01C";
  color   : #b8383d
}

.tree-item.d:before {
  content : "\E01C";
  color   : #cc3e44
}

.tree-item.db_light:before {
  content : "\E01D";
  color   : #dd4b78
}

.tree-item.db:before {
  content : "\E01D";
  color   : #f55385
}

.tree-item.default_light:before {
  content : "\E01E";
  color   : #bfc2c1
}

.tree-item.default:before {
  content : "\E01E";
  color   : #d4d7d6
}

.tree-item.docker_light:before {
  content : "\E020";
  color   : #498ba7
}

.tree-item.docker:before {
  content : "\E020";
  color   : #519aba
}

.tree-item.docker_1_light:before {
  content : "\E020";
  color   : #455155
}

.tree-item.docker_1:before {
  content : "\E020";
  color   : #4d5a5e
}

.tree-item.docker_2_light:before {
  content : "\E020";
  color   : #7fae42
}

.tree-item.docker_2:before {
  content : "\E020";
  color   : #8dc149
}

.tree-item.docker_3_light:before {
  content : "\E020";
  color   : #dd4b78
}

.tree-item.docker_3:before {
  content : "\E020";
  color   : #f55385
}

.tree-item.ejs_light:before {
  content : "\E022";
  color   : #b7b73b
}

.tree-item.ejs:before {
  content : "\E022";
  color   : #cbcb41
}

.tree-item.elixir_light:before {
  content : "\E023";
  color   : #9068b0
}

.tree-item.elixir:before {
  content : "\E023";
  color   : #a074c4
}

.tree-item.elixir_script_light:before {
  content : "\E024";
  color   : #9068b0
}

.tree-item.elixir_script:before {
  content : "\E024";
  color   : #a074c4
}

.tree-item.elm_light:before {
  content : "\E025";
  color   : #498ba7
}

.tree-item.elm:before {
  content : "\E025";
  color   : #519aba
}

.tree-item.eslint_light:before {
  content : "\E027";
  color   : #9068b0
}

.tree-item.eslint:before {
  content : "\E027";
  color   : #a074c4
}

.tree-item.eslint_1_light:before {
  content : "\E027";
  color   : #455155
}

.tree-item.eslint_1:before {
  content : "\E027";
  color   : #4d5a5e
}

.tree-item.ethereum_light:before {
  content : "\E028";
  color   : #498ba7
}

.tree-item.ethereum:before {
  content : "\E028";
  color   : #519aba
}

.tree-item.f-sharp_light:before {
  content : "\E029";
  color   : #498ba7
}

.tree-item.f-sharp:before {
  content : "\E029";
  color   : #519aba
}

.tree-item.favicon_light:before {
  content : "\E02A";
  color   : #b7b73b
}

.tree-item.favicon:before {
  content : "\E02A";
  color   : #cbcb41
}

.tree-item.firebase_light:before {
  content : "\E02B";
  color   : #cc6d2e
}

.tree-item.firebase:before {
  content : "\E02B";
  color   : #e37933
}

.tree-item.firefox_light:before {
  content : "\E02C";
  color   : #cc6d2e
}

.tree-item.firefox:before {
  content : "\E02C";
  color   : #e37933
}

.tree-item.font_light:before {
  content : "\E02E";
  color   : #b8383d
}

.tree-item.font:before {
  content : "\E02E";
  color   : #cc3e44
}

.tree-item.git_light:before {
  content : "\E02F";
  color   : #3b4b52
}

.tree-item.git:before {
  content : "\E02F";
  color   : #41535b
}

.tree-item.go_light:before {
  content : "\E033";
  color   : #498ba7
}

.tree-item.go:before {
  content : "\E033";
  color   : #519aba
}

.tree-item.go2_light:before {
  content : "\E034";
  color   : #498ba7
}

.tree-item.go2:before {
  content : "\E034";
  color   : #519aba
}

.tree-item.gradle_light:before {
  content : "\E035";
  color   : #7fae42
}

.tree-item.gradle:before {
  content : "\E035";
  color   : #8dc149
}

.tree-item.grails_light:before {
  content : "\E036";
  color   : #7fae42
}

.tree-item.grails:before {
  content : "\E036";
  color   : #8dc149
}

.tree-item.grunt_light:before {
  content : "\E037";
  color   : #cc6d2e
}

.tree-item.grunt:before {
  content : "\E037";
  color   : #e37933
}

.tree-item.gulp_light:before {
  content : "\E038";
  color   : #b8383d
}

.tree-item.gulp:before {
  content : "\E038";
  color   : #cc3e44
}

.tree-item.haml_light:before {
  content : "\E03A";
  color   : #b8383d
}

.tree-item.haml:before {
  content : "\E03A";
  color   : #cc3e44
}

.tree-item.haskell_light:before {
  content : "\E03B";
  color   : #9068b0
}

.tree-item.haskell:before {
  content : "\E03B";
  color   : #a074c4
}

.tree-item.haxe_light:before {
  content : "\E03C";
  color   : #cc6d2e
}

.tree-item.haxe:before {
  content : "\E03C";
  color   : #e37933
}

.tree-item.haxe_1_light:before {
  content : "\E03C";
  color   : #b7b73b
}

.tree-item.haxe_1:before {
  content : "\E03C";
  color   : #cbcb41
}

.tree-item.haxe_2_light:before {
  content : "\E03C";
  color   : #498ba7
}

.tree-item.haxe_2:before {
  content : "\E03C";
  color   : #519aba
}

.tree-item.haxe_3_light:before {
  content : "\E03C";
  color   : #9068b0
}

.tree-item.haxe_3:before {
  content : "\E03C";
  color   : #a074c4
}

.tree-item.heroku_light:before {
  content : "\E03D";
  color   : #9068b0
}

.tree-item.heroku:before {
  content : "\E03D";
  color   : #a074c4
}

.tree-item.hex_light:before {
  content : "\E03E";
  color   : #b8383d
}

.tree-item.hex:before {
  content : "\E03E";
  color   : #cc3e44
}

.tree-item.html_light:before {
  content : "\E03F";
  color   : #cc6d2e
}

.tree-item.html:before {
  content : "\E03F";
  color   : #e37933
}

.tree-item.html_erb_light:before {
  content : "\E040";
  color   : #b8383d
}

.tree-item.html_erb:before {
  content : "\E040";
  color   : #cc3e44
}

.tree-item.ignored_light:before {
  content : "\E041";
  color   : #3b4b52
}

.tree-item.ignored:before {
  content : "\E041";
  color   : #41535b
}

.tree-item.illustrator_light:before {
  content : "\E042";
  color   : #b7b73b
}

.tree-item.illustrator:before {
  content : "\E042";
  color   : #cbcb41
}

.tree-item.image_light:before {
  content : "\E043";
  color   : #9068b0
}

.tree-item.image:before {
  content : "\E043";
  color   : #a074c4
}

.tree-item.info_light:before {
  content : "\E044";
  color   : #498ba7
}

.tree-item.info:before {
  content : "\E044";
  color   : #519aba
}

.tree-item.ionic_light:before {
  content : "\E045";
  color   : #498ba7
}

.tree-item.ionic:before {
  content : "\E045";
  color   : #519aba
}

.tree-item.jade_light:before {
  content : "\E046";
  color   : #b8383d
}

.tree-item.jade:before {
  content : "\E046";
  color   : #cc3e44
}

.tree-item.java_light:before {
  content : "\E047";
  color   : #b8383d
}

.tree-item.java:before {
  content : "\E047";
  color   : #cc3e44
}

.tree-item.javascript_light:before {
  content : "\E048";
  color   : #b7b73b
}

.tree-item.javascript:before {
  content : "\E048";
  color   : #cbcb41
}

.tree-item.javascript_1_light:before {
  content : "\E048";
  color   : #cc6d2e
}

.tree-item.javascript_1:before {
  content : "\E048";
  color   : #e37933
}

.tree-item.javascript_2_light:before {
  content : "\E048";
  color   : #498ba7
}

.tree-item.javascript_2:before {
  content : "\E048";
  color   : #519aba
}

.tree-item.jenkins_light:before {
  content : "\E049";
  color   : #b8383d
}

.tree-item.jenkins:before {
  content : "\E049";
  color   : #cc3e44
}

.tree-item.jinja_light:before {
  content : "\E04A";
  color   : #b8383d
}

.tree-item.jinja:before {
  content : "\E04A";
  color   : #cc3e44
}

.tree-item.json_light:before {
  content : "\E04C";
  color   : #b7b73b
}

.tree-item.json:before {
  content : "\E04C";
  color   : #cbcb41
}

.tree-item.json_1_light:before {
  content : "\E04C";
  color   : #7fae42
}

.tree-item.json_1:before {
  content : "\E04C";
  color   : #8dc149
}

.tree-item.julia_light:before {
  content : "\E04D";
  color   : #9068b0
}

.tree-item.julia:before {
  content : "\E04D";
  color   : #a074c4
}

.tree-item.karma_light:before {
  content : "\E04E";
  color   : #7fae42
}

.tree-item.karma:before {
  content : "\E04E";
  color   : #8dc149
}

.tree-item.kotlin_light:before {
  content : "\E04F";
  color   : #cc6d2e
}

.tree-item.kotlin:before {
  content : "\E04F";
  color   : #e37933
}

.tree-item.less_light:before {
  content : "\E050";
  color   : #498ba7
}

.tree-item.less:before {
  content : "\E050";
  color   : #519aba
}

.tree-item.license_light:before {
  content : "\E051";
  color   : #b7b73b
}

.tree-item.license:before {
  content : "\E051";
  color   : #cbcb41
}

.tree-item.license_1_light:before {
  content : "\E051";
  color   : #cc6d2e
}

.tree-item.license_1:before {
  content : "\E051";
  color   : #e37933
}

.tree-item.license_2_light:before {
  content : "\E051";
  color   : #b8383d
}

.tree-item.license_2:before {
  content : "\E051";
  color   : #cc3e44
}

.tree-item.liquid_light:before {
  content : "\E052";
  color   : #7fae42
}

.tree-item.liquid:before {
  content : "\E052";
  color   : #8dc149
}

.tree-item.livescript_light:before {
  content : "\E053";
  color   : #498ba7
}

.tree-item.livescript:before {
  content : "\E053";
  color   : #519aba
}

.tree-item.lock_light:before {
  content : "\E054";
  color   : #7fae42
}

.tree-item.lock:before {
  content : "\E054";
  color   : #8dc149
}

.tree-item.lua_light:before {
  content : "\E055";
  color   : #498ba7
}

.tree-item.lua:before {
  content : "\E055";
  color   : #519aba
}

.tree-item.makefile_light:before {
  content : "\E056";
  color   : #cc6d2e
}

.tree-item.makefile:before {
  content : "\E056";
  color   : #e37933
}

.tree-item.makefile_1_light:before {
  content : "\E056";
  color   : #9068b0
}

.tree-item.makefile_1:before {
  content : "\E056";
  color   : #a074c4
}

.tree-item.makefile_2_light:before {
  content : "\E056";
  color   : #627379
}

.tree-item.makefile_2:before {
  content : "\E056";
  color   : #6d8086
}

.tree-item.makefile_3_light:before {
  content : "\E056";
  color   : #498ba7
}

.tree-item.makefile_3:before {
  content : "\E056";
  color   : #519aba
}

.tree-item.markdown_light:before {
  content : "\E057";
  color   : #498ba7
}

.tree-item.markdown:before {
  content : "\E057";
  color   : #519aba
}

.tree-item.maven_light:before {
  content : "\E058";
  color   : #b8383d
}

.tree-item.maven:before {
  content : "\E058";
  color   : #cc3e44
}

.tree-item.mdo_light:before {
  content : "\E059";
  color   : #b8383d
}

.tree-item.mdo:before {
  content : "\E059";
  color   : #cc3e44
}

.tree-item.mustache_light:before {
  content : "\E05A";
  color   : #cc6d2e
}

.tree-item.mustache:before {
  content : "\E05A";
  color   : #e37933
}

.tree-item.npm_light:before {
  content : "\E05C";
  color   : #3b4b52
}

.tree-item.npm:before {
  content : "\E05C";
  color   : #41535b
}

.tree-item.npm_1_light:before {
  content : "\E05C";
  color   : #b8383d
}

.tree-item.npm_1:before {
  content : "\E05C";
  color   : #cc3e44
}

.tree-item.npm_ignored_light:before {
  content : "\E05D";
  color   : #3b4b52
}

.tree-item.npm_ignored:before {
  content : "\E05D";
  color   : #41535b
}

.tree-item.nunjucks_light:before {
  content : "\E05E";
  color   : #7fae42
}

.tree-item.nunjucks:before {
  content : "\E05E";
  color   : #8dc149
}

.tree-item.ocaml_light:before {
  content : "\E05F";
  color   : #cc6d2e
}

.tree-item.ocaml:before {
  content : "\E05F";
  color   : #e37933
}

.tree-item.odata_light:before {
  content : "\E060";
  color   : #cc6d2e
}

.tree-item.odata:before {
  content : "\E060";
  color   : #e37933
}

.tree-item.pdf_light:before {
  content : "\E061";
  color   : #b8383d
}

.tree-item.pdf:before {
  content : "\E061";
  color   : #cc3e44
}

.tree-item.perl_light:before {
  content : "\E062";
  color   : #498ba7
}

.tree-item.perl:before {
  content : "\E062";
  color   : #519aba
}

.tree-item.photoshop_light:before {
  content : "\E063";
  color   : #498ba7
}

.tree-item.photoshop:before {
  content : "\E063";
  color   : #519aba
}

.tree-item.php_light:before {
  content : "\E064";
  color   : #9068b0
}

.tree-item.php:before {
  content : "\E064";
  color   : #a074c4
}

.tree-item.powershell_light:before {
  content : "\E065";
  color   : #498ba7
}

.tree-item.powershell:before {
  content : "\E065";
  color   : #519aba
}

.tree-item.pug_light:before {
  content : "\E067";
  color   : #b8383d
}

.tree-item.pug:before {
  content : "\E067";
  color   : #cc3e44
}

.tree-item.puppet_light:before {
  content : "\E068";
  color   : #b7b73b
}

.tree-item.puppet:before {
  content : "\E068";
  color   : #cbcb41
}

.tree-item.python_light:before {
  content : "\E069";
  color   : #498ba7
}

.tree-item.python:before {
  content : "\E069";
  color   : #519aba
}

.tree-item.react_light:before {
  content : "\E06B";
  color   : #498ba7
}

.tree-item.react:before {
  content : "\E06B";
  color   : #519aba
}

.tree-item.rollup_light:before {
  content : "\E06C";
  color   : #b8383d
}

.tree-item.rollup:before {
  content : "\E06C";
  color   : #cc3e44
}

.tree-item.ruby_light:before {
  content : "\E06D";
  color   : #b8383d
}

.tree-item.ruby:before {
  content : "\E06D";
  color   : #cc3e44
}

.tree-item.rust_light:before {
  content : "\E06E";
  color   : #627379
}

.tree-item.rust:before {
  content : "\E06E";
  color   : #6d8086
}

.tree-item.salesforce_light:before {
  content : "\E06F";
  color   : #498ba7
}

.tree-item.salesforce:before {
  content : "\E06F";
  color   : #519aba
}

.tree-item.sass_light:before {
  content : "\E070";
  color   : #dd4b78
}

.tree-item.sass:before {
  content : "\E070";
  color   : #f55385
}

.tree-item.sbt_light:before {
  content : "\E071";
  color   : #498ba7
}

.tree-item.sbt:before {
  content : "\E071";
  color   : #519aba
}

.tree-item.scala_light:before {
  content : "\E072";
  color   : #b8383d
}

.tree-item.scala:before {
  content : "\E072";
  color   : #cc3e44
}

.tree-item.shell_light:before {
  content : "\E075";
  color   : #455155
}

.tree-item.shell:before {
  content : "\E075";
  color   : #4d5a5e
}

.tree-item.slim_light:before {
  content : "\E076";
  color   : #cc6d2e
}

.tree-item.slim:before {
  content : "\E076";
  color   : #e37933
}

.tree-item.smarty_light:before {
  content : "\E077";
  color   : #b7b73b
}

.tree-item.smarty:before {
  content : "\E077";
  color   : #cbcb41
}

.tree-item.spring_light:before {
  content : "\E078";
  color   : #7fae42
}

.tree-item.spring:before {
  content : "\E078";
  color   : #8dc149
}

.tree-item.stylelint_light:before {
  content : "\E079";
  color   : #bfc2c1
}

.tree-item.stylelint:before {
  content : "\E079";
  color   : #d4d7d6
}

.tree-item.stylelint_1_light:before {
  content : "\E079";
  color   : #455155
}

.tree-item.stylelint_1:before {
  content : "\E079";
  color   : #4d5a5e
}

.tree-item.stylus_light:before {
  content : "\E07A";
  color   : #7fae42
}

.tree-item.stylus:before {
  content : "\E07A";
  color   : #8dc149
}

.tree-item.sublime_light:before {
  content : "\E07B";
  color   : #cc6d2e
}

.tree-item.sublime:before {
  content : "\E07B";
  color   : #e37933
}

.tree-item.svg_light:before {
  content : "\E07C";
  color   : #9068b0
}

.tree-item.svg:before {
  content : "\E07C";
  color   : #a074c4
}

.tree-item.svg_1_light:before {
  content : "\E07C";
  color   : #498ba7
}

.tree-item.svg_1:before {
  content : "\E07C";
  color   : #519aba
}

.tree-item.swift_light:before {
  content : "\E07D";
  color   : #cc6d2e
}

.tree-item.swift:before {
  content : "\E07D";
  color   : #e37933
}

.tree-item.terraform_light:before {
  content : "\E07E";
  color   : #9068b0
}

.tree-item.terraform:before {
  content : "\E07E";
  color   : #a074c4
}

.tree-item.tex_light:before {
  content : "\E07F";
  color   : #498ba7
}

.tree-item.tex:before {
  content : "\E07F";
  color   : #519aba
}

.tree-item.tex_1_light:before {
  content : "\E07F";
  color   : #b7b73b
}

.tree-item.tex_1:before {
  content : "\E07F";
  color   : #cbcb41
}

.tree-item.tex_2_light:before {
  content : "\E07F";
  color   : #cc6d2e
}

.tree-item.tex_2:before {
  content : "\E07F";
  color   : #e37933
}

.tree-item.tex_3_light:before {
  content : "\E07F";
  color   : #bfc2c1
}

.tree-item.tex_3:before {
  content : "\E07F";
  color   : #d4d7d6
}

.tree-item.todo:before {
  content : "\E081";
  color   : #d4d7d6
}

.tree-item.twig_light:before {
  content : " \E082 ";
  color   : #7fae42
}

.tree-item.twig:before {
  content : " \E082 ";
  color   : #8dc149
}

.tree-item.typescript_light:before {
  content : " \E083 ";
  color   : #498ba7
}

.tree-item.typescript:before {
  content : " \E083 ";
  color   : #519aba
}

.tree-item.typescript_1_light:before {
  content : " \E083 ";
  color   : #b7b73b
}

.tree-item.typescript_1:before {
  content : " \E083 ";
  color   : #cbcb41
}

.tree-item.vala_light:before {
  content : " \E084 ";
  color   : #627379
}

.tree-item.vala:before {
  content : " \E084 ";
  color   : #6d8086
}

.tree-item.video_light:before {
  content : " \E085 ";
  color   : #dd4b78
}

.tree-item.video:before {
  content : " \E085 ";
  color   : #f55385
}

.tree-item.vue_light:before {
  content : " \E086 ";
  color   : #7fae42
}

.tree-item.vue:before {
  content : " \E086 ";
  color   : #8dc149
}

.tree-item.wasm_light:before {
  content : " \E087 ";
  color   : #9068b0
}

.tree-item.wasm:before {
  content : " \E087 ";
  color   : #a074c4
}

.tree-item.wat_light:before {
  content : " \E088 ";
  color   : #9068b0
}

.tree-item.wat:before {
  content : " \E088 ";
  color   : #a074c4
}

.tree-item.webpack_light:before {
  content : " \E089 ";
  color   : #498ba7
}

.tree-item.webpack:before {
  content : " \E089 ";
  color   : #519aba
}

.tree-item.wgt_light:before {
  content : " \E08A ";
  color   : #498ba7
}

.tree-item.wgt:before {
  content : " \E08A ";
  color   : #519aba
}

.tree-item.windows_light:before {
  content : " \E08B ";
  color   : #498ba7
}

.tree-item.windows:before {
  content : " \E08B ";
  color   : #519aba
}

.tree-item.word_light:before {
  content : " \E08C ";
  color   : #498ba7
}

.tree-item.word:before {
  content : " \E08C ";
  color   : #519aba
}

.tree-item.xls_light:before {
  content : " \E08D ";
  color   : #7fae42
}

.tree-item.xls:before {
  content : " \E08D ";
  color   : #8dc149
}

.tree-item.xml_light:before {
  content : " \E08E ";
  color   : #cc6d2e
}

.tree-item.xml:before {
  content : " \E08E ";
  color   : #e37933
}

.tree-item.yarn_light:before {
  content : " \E08F ";
  color   : #498ba7
}

.tree-item.yarn:before {
  content : " \E08F ";
  color   : #519aba
}

.tree-item.yml_light:before {
  content : " \E090 ";
  color   : #9068b0
}

.tree-item.yml:before {
  content : " \E090 ";
  color   : #a074c4
}

.tree-item.zip_light:before {
  content : " \E091 ";
  color   : #b8383d
}

.tree-item.zip:before {
  content : " \E091 ";
  color   : #cc3e44
}

.tree-item.zip_1_light:before {
  content : " \E091 ";
  color   : #627379
}

.tree-item.zip_1:before {
  content : " \E091 ";
  color   : #6d8086
}

.tree-item.header:before {
  content : "#";
  color   : #007acc;
}
